./testvm.sh "Slackware 14.0 (64-bit)" slackware14-64
./testvm.sh "Slackware 14.0" slackware14
./testvm.sh "FreeBSD 9.2 (64-bit)" freebsd9-64
./testvm.sh "FreeBSD 9.2" freebsd9
./testvm.sh "FreeBSD 8.4 (64-bit)" freebsd8-64
./testvm.sh "FreeBSD 8.4" freebsd8
./testvm.sh "NetBSD 6 (64-bit)" netbsd6-64
./testvm.sh "NetBSD 6" netbsd6
./testvm.sh "Scientific Linux 6 (64-bit)" sl6-64
./testvm.sh "Scientific Linux 6" sl6
./testvm.sh "Scientific Linux 5 (64-bit)" sl5-64
./testvm.sh "Scientific Linux 5" sl5
