Slackware_14	x86_64
Slackware_14	i586
FreeBSD_10	x86_64
FreeBSD_10	i586
FreeBSD_9	x86_64
FreeBSD_9	i586
FreeBSD_8	x86_64
FreeBSD_8	i586
NetBSD_6	x86_64
NetBSD_6	i586
Scientific_Linux-5	x86_64
Scientific_Linux-5	i586
Scientific_Linux-6	x86_64
Scientific_Linux-6	i586
Arch_Clang	x86_64
Arch_Clang	i586
Arch_Icc	x86_64
Arch_Icc	i586
